body {
  background-color: #ffffff;

}

.App {
  text-align: center;
}

.App-logo {
  height: 30vmin;
  pointer-events: none;
  font-size: 128px;
  color: #323232;
}

.App-header {
  display: flex;
  flex-direction: column;
}

.App-link {
  color: #61dafb;
}

input {
  -webkit-appearance: none;
  background-color: #fdfdfd;
  border: 2px solid #e4e4e4;
  border-radius: 0;
  box-sizing: border-box;
  display: inline-block;
  padding: 32px;
  font-size: 32px;
  font-family: monospace;
}

#submit:hover {
  transition-duration: 250ms;
  background-color: #e5e5e5;
}